<%= javascript_include_tag 'sessions' %>

<% content_for :title do %>
  Login
<% end %>

<%= form_for :session, :url => session_path, :html => {:id => 'account', :style => "width: 360px"} do |form| %>

  <fieldset>
    <%= render :partial => "layouts/flash", :locals => { :flash => flash } %>
    <legend>Please login to your Wallsome Account</legend>
    
    <p>
      <%= form.label :email, "Your Email Address" %>
      <%= form.text_field :email, :style => "width: 332px;" %>
    </p>
    <p>
      <%= form.label :password, "Password" %>
      <%= form.password_field :password, :style => "width: 332px;" %>
    </p>
  </fieldset>

  <fieldset class="buttons">
    <%= submit_tag 'Login' %>
  </fieldset>
  
  <p>
    <%= link_to "Forgot Password?", new_password_path %>
  </p>
  <p>
    <%= link_to "No account yet? Signup here.", signup_path %>
  </p>
<% end %>

