<% content_for :title do %>
  <%= current_project.name %> &gt; <%= @milestone.title %>
<% end %>

<% content_for :head do %>
  <%= javascript_include_tag "todo_lists", "todo_items", "comments", :cache => "wall" %>

  <script type="text/javascript" charset="utf-8">
    app.responsiblePartyMap = <%= raw responsible_party_id_to_display_name.to_json %>;
    app.basecampAccountName = '<%= current_account.name %>';
    app.currentPersonId = '<%= current_person.id %>';
  </script>
<% end %>

<div id="workspace_header">
  <div id="workspace_header_wrapper">
    <div id="title_and_links">
      <%= render :partial => "milestone_title" %>
    
      <div id="workspace_header_links">
        <%= link_to "Edit",
                    edit_project_milestone_path(current_project, @milestone, :basecamp_account_name => current_account.name) %> |
        <%= link_to "Delete",
                    project_milestone_path(current_project, @milestone, :basecamp_account_name => current_account.name),
                    :method => :delete,
                    :confirm => "Are you sure you want to delete the milestone?" %> |
        <%= link_to "Open in Basecamp",
                    basecamp_milestone_url(@milestone),
                    :class => "go_to_basecamp" %>
      </div>
    </div>

    <div id="workspace_header_buttons">
      <%= link_to "+ To-do List", 
                  "#",
                  :class => "button",
                  :id => "new_todo_list" %>
      <%= link_to "Reorder Lists", 
                  edit_project_reorder_todo_lists_path(:project_id => current_project.id, :milestone_id => @milestone.id),
                  :class => "button spinner" %>
    </div>
  </div>
</div>

<%- @milestone.todo_lists.each do |list| -%>
  <%= render :partial => "todo_lists/todo_list", :locals => { :list => list } %>
<%- end -%>

<%= render :partial => 'todo_items/todo_item', :locals => { :item => TodoItem.new } %>
<%= render :partial => 'todo_lists/todo_list', :locals => { :list => TodoList.new } %>

<%= render :partial => 'comments/dialog' %>

<script type="text/javascript" charset="utf-8">//<![CDATA[
  <% todo_item_dialog_params = {
       :project_id => current_project.id,
       :basecamp_account_name => params[:basecamp_account_name] } %>
  $.get('<%= todo_item_dialog_path(todo_item_dialog_params) %>', function(data) {
    $("#workspace").append(data);
  });

  <% todo_list_dialog_params = {
       :project_id => current_project.id,
       :milestone_id => @milestone.id,
       :basecamp_account_name => params[:basecamp_account_name] } %>
  $.get("<%= todo_list_dialog_path(todo_list_dialog_params) %>", function(data) {
    $("#workspace").append(data);
  });

  $(function() {
    app.TodoListMethods.newTodoListLinkBehavior($("#new_todo_list"), false);
    app.TodoListMethods.editTodoListBehavior($(".edit_todo_list"));
    app.TodoListMethods.deleteTodoListBehavior($(".delete_todo_list"));
    app.TodoListMethods.makeTodoItemsSortable($(".col"));
    app.TodoListMethods.newTodoItemLinkBehavior($(".new_todo_item_link"));

    // Show spinner while loading a backlog
    $("a.backlog").click(function(){
      app.spinner.dialog('open');
    });

  });
//]]></script>