<% content_for :title do %>
  Edit Basecamp Account
<% end %>
<% content_for :logo do %>
  <h2><%= link_to "Back to Overview", basecamp_accounts_path %></h2>
  <h1>Edit Basecamp Account</h1>
<% end %>

<%= form_for @basecamp_user, :html => { :id => 'account', :style => "width: 360px", :method => :put } do |form| %>
  <%= render :partial => "layouts/flash", :locals => { :flash => flash } %>
  <fieldset>
    <legend>Edit Basecamp Account</legend>
    <%= render :partial => "form", :locals => { :form => form } %>
  </fieldset>
  <fieldset class="buttons">
    <%= link_to "Cancel", basecamp_users_path, :class => "button" %>
    <%= submit_tag 'Update' %>
  </fieldset>
<% end %>
