<%= render :partial => "layouts/header" %>

<div id="page_wrapper">

  <div id="header">

    <div id="top_menu_right">
      <%= link_to 'Home', root_path %> |
    </div>

    <div id="logo">
      <h1><%= link_to 'Wallsome', login_path %><span id="beta_label">Beta</span></h1>
      <h2><%= yield :title || "A Scrum board for your Basecamp projects" %></h2>
    </div>

  </div>

  <div id="workspace">

    <%= yield %>

  </div>

  <div id="layout_footer"></div>

</div>

<div id="footer">

  <div id="copyright">
    <span id="company">Wallsome - A Scrum board for your Basecamp projects.</span>
  </div>

  <div id="footer_menu">
  </div>

  <div id="disclaimer">
  </div>
</div>

<%= render :partial => "layouts/footer" %>
